<% include partials/header %>
  <h1>Find Relationship Link Between People</h1>
  <div class="form-group">
    <label>For People:</label>
    <select name="people1" id="selectpeople1" class="custom-select d-block w-100"> </select>
  </div>
  <div class="form-group">
    <label>To People:</label>
     <select name="people2" id="selectpeople2" class="custom-select d-block w-100"> </select>
  </div>
  <button onclick="myFunction()" class="btn btn-primary">Submit</button>
  <h1 class="cover-heading">Above People Relationship Link</h1>
  <p class="lead" id="peopleRelation"></p>
 
<% include partials/footer %>
<script src="/javascript/relationshipLink.js"></script>

